page-vicinity {
  #map {
    width: 100%;
    height: 50%;
    text-align: end;
  }
}

p.center {
  text-align: center;
}

p.black {
  color: #000000;
}

span.grey{
  color: #BDB9B8;
  margin-left: 0.5em;
}
