page-vicinity {
  #map {
    width: 90%;
    height: 100%;
    display:inline-block;
  }

}

ion-content.navy {
  background-color: #17386d;
}

p.center {
  text-align: center;
}

p.black {
  color: #000000;
}

span.grey{
  color: #BDB9B8;
  margin-left: 0.5em;
}

p.blue {
  color: #6ba2f9;
}

.fixed {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100%;
  height: 300px;
  z-index: 10;
  background: #ffffff;
  text-align: center;
  position:fixed;
}

.page__content-container {
  margin: 365px auto;
  width: 100%;
}

::-webkit-scrollbar,
*::-webkit-scrollbar {
  display: none;
}
