page-report {

}

#comments {
  width: calc(100% - 10px);
  border: 5;
  border-radius: 0;
  background: transparent;
}

h5.heading {
  text-align: center;
}

p.heading {
  text-align: center;
  color:#c80000;
}

p.justify {
  text-align: justify;
}

.send {
	min-width: 100%;
	max-width: 100%
}
